.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
.hotel-brand {
  font-family: "Playfair Display", serif; /* luxury font */
  font-size: 1.6rem;
  font-weight: 700;
  color: #c9a14a !important; /* gold */
  letter-spacing: 1px;
  text-decoration: none;
}

.hotel-brand:hover {
  color: #b8923b !important;
}

.brand-logo {
  height: 38px;
  width: auto;
  object-fit: contain;
}


.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
